*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}
.question-container {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.card{
    /* margin-top: 100px; */
    margin-bottom: 0.5rem;
    border-color: transparent;
}
.card-body.form-control{
    max-width: 500px;
}
.card img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.generate{
    margin-bottom: 30px;
}